* {
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

.main {
    background-image: url("assets/images/img3.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;

    display: flex;
    align-items: center;
    height: 60px;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    background-color: red;


}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;



}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation{
    height: 7px;
    background-color: rgb(56, 55, 55);
    
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.162);

    border: 1px solid white;
    cursor: pointer;
}

.btn-red-sm{
    margin-left: 15px;
    border-radius: 4px;
    
    padding: 3px 8px;
    background-color: red;
    border: 1px white white;
    font-weight: 400;
    color: white
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23, 23, 0.7);
    border: 1px solid rgba(23,23, 23, 0.5);
    color: white;

}


.first{
    display: flex;
    justify-content: center;
    margin: auto;
    
    align-items: center;
    
    max-width: 70vw;
    color: white;
}
.secImg {
    position: relative;
}

.secImg img{
    max-width: 30vm;
    position: relative;
    z-index: 10;

}
.secImg video{
    position: absolute;
    top: 100px;
    right: 79px;
}

section.first > div{
    display: flex;
    flex-direction: column;
}



section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;

}

.faq h2{
    text-align: center;
    font-size: 50px;
}

.faq{
    padding: 34px;
    background-color: black;
    color: white;
}

.faqbox:hover{
    background-color: rgba(116, 115, 115, 0.32);
}

.faqbox{
    transition: all 0.1s ease-out;
    justify-content: space-between;
    display: flex;
    background-color: #2d2d2d;
    font-weight: 900;
    font-size: 24px;
    padding: 24px;
    max-width: 40vw;
    margin: 34px auto;
    cursor: pointer;
}




